<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Personne</servlet-name>
        <servlet-class>com.samnang.entites.Personne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connexion</servlet-name>
        <servlet-class>com.samnang.jdbc.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dao</servlet-name>
        <servlet-class>com.samnang.jdbc.dao.Dao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PersonneDao</servlet-name>
        <servlet-class>com.samnang.jdbc.dao.implementation.PersonneDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleurFrontal</servlet-name>
        <servlet-class>com.samnang.web.mvc.ControleurFrontal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsererUnEnregistrement</servlet-name>
        <servlet-class>com.samnang.web.mvc.InsererUnEnregistrement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChercherUnePersonneParId</servlet-name>
        <servlet-class>com.samnang.web.mvc.ChercherUnePersonneParId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Personne</servlet-name>
        <url-pattern>/person</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connexion</servlet-name>
        <url-pattern>/connection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dao</servlet-name>
        <url-pattern>/dao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PersonneDao</servlet-name>
        <url-pattern>/personDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleurFrontal</servlet-name>
        <url-pattern>/controleurFrontal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsererUnEnregistrement</servlet-name>
        <url-pattern>/insertARecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChercherUnePersonneParId</servlet-name>
        <url-pattern>/findById</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
